.full-height {
  height: 100vh;
}

.register-box {
  width: 380px;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.role-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.link_txt
{
  color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

